<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - Health Hero</title>
</head>
<body>
    <main>
        <h2>Admin Login</h2>
        <form id="adminLogin">
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" placeholder="Input email: " >

            <label for="password">Password: </label>
            <input id="password" type="password" name="password" placeholder="Enter your password...">

            <button type="submit" class="btn">Login</button>
        </form>
    </main>
    <script src="/js/adminLog"></script>
</body>
</html>