<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <% include ../partials/header %>
    <main>
        <h1>Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/admin/manageChallenges">Manage Challenges</a></li>
                <li><a href="/admin/manageChildren">Manage children</a></li>
                <li><a href="/admin/manageParents"></a></li>
                <li><a href="/admin/viewlogs">View Logs</a></li>
            </ul>
        </nav>
    </main>
    <% include ../partials/footer %>
    
</body>
</html>