<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main>
        <h1>Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/manageChallenges">Create Challenges</a></li>
                <li><a href="/displayChildren">Display children</a></li>
                <li><a href="/displayParents">Display Parents</a></li>
                <li><a href='/addAdmin'>Add Admin</a></li>
                <li><a href="/admin/viewlogs">View Logs</a></li>
            </ul>
        </nav>
        
    </main>
    
    
</body>
</html>