<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young Hero's Dash</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <h2>Young Hero's Dash</h2>
    <p>Welcome, Young Hero! Ready to start an eciting journey to live a healthy and active life?</p>

    <main>
        <!--chalenge sector-->
        <section id="challenges">
            <h3>Your Challenges</h3>
            <p>Take on fun and exciting challenges to stay fit and healthy!</p>
            <button id="start-challenge">Start a Challenge</button>
        </section>
        <!--leaderboard-->
        <section id="leaders">
            <h3>Leader's Dashboard</h3>
            <p>See who's leading in the healthy living this week!!</p>
            <ul id="leaderboard">
                <!--dynamically fill the names -->
            </ul>
        </section>
        <!--profile-->
        <section id="profile">
            <h3>Profile</h3>
            <p>Personalize your profile with a fun picture!</p>
            
        </section>
    </main>

    <footer>
        <p>Remember: Small steps every day lead to big changes. Keep it up, Young Hero!</p>
    </footer>
</body>
</html>