<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young-Hero-Login - Health Hero</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="form">
    <main>
        <h2>Young Hero's Login</h2>
        <form class="form-container" id="childLogin">
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" placeholder="Input email: " >
            <br>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" placeholder="Enter your password...">
             <br>
            <button type="submit" class="btn">Login</button>
            <br>
            <p>Don't have an account ?<a href="child_register"> Signup </a></p>
        </form>
    </main>
    <script src="/js/childLogin.js"></script>
</body>
</html>