<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Heroes - Home</title>
    <link rel="stylesheet" href="/public/css/syles.css">
</head>
<body>
  <!--  <% include ../partials/header %> -->
    <main>
        <h1>Welcome to Health Heroes!</h1>
        <p>Your one stop solution for children's health and wellness.</p>
        <a href="/register" class="btn">Sign Up</a>
        <a href="/login" class="btn">Login</a>
    </main>
   <!-- <% include ../partials/footer %>  -->
</body>
</html>