<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Heroes</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="land">
    <div class="splash-container">
        <h1 class="welcome-message" >Welcome to Health Heroes</h1>
        <br>
        <p id="caption" class="welcome-message" >Your journey to a better and good health starts here!</p>
       <!-- <a href="/home" class="btn">Get Started</a> -->
        <button onclick="window.location.href='/healthhero/api/user/home';" class ="btn">Get Started</button> -->
    </div>
    <footer>
        <p>&copy; 2024 Health Heroes. All rights reserved.</p>
        <p>Contact us: <a href="info@healthhero.com">info@healthhero.com</a></p>
    </footer>
   
</body>
</html>