<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Heroes</title>
</head>
<body>
    <div class="splash-contain">
        <h1>Welcome to Health Heroes</h1>
        <p>Your journey to a better and good health starts here!</p>
        <a hrf="/home" class="btn">Get Started</a>
    </div>
    <script src="/public/js/splash.js"></script>
</body>
</html>